/* reset */
* {margin: 0;
    padding: 0;
    box-sizing: border-box;}


    body{background-color: grey;}

    img{width: 30%;
        padding-top: 8%;}

    main{max-width: 1600;}

    

    header{position: fixed;
            top: 0;
            width: 100%;
            left: 0;
            background-color: black;
            color: blueviolet;}

    

    footer{position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            background-color: black;
            color: blueviolet;}

    #lapa{text-align: left;
                padding-left: 25px;}  
    #ti{text-align: center;}
    #data{text-align: right;
                padding-right: 25px;}


   h2{text-align: center;
       font-size: 4em;
       font-style: italic;}
       

   #id1{display:block;
        text-align: center;}

        #id2{
                max-width:320px;
                max-height:220px;
                width: auto;
                height: auto;
                padding-top: 10%;}

        #div{margin-top: 4%;}

        #apaga{right: 50%;}


.carousel-item{width: 100%; height: 400px;}
#teste{height: 300px;
        font-size: medium;}
